body{
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(5, 5, 240, 1) 0%, rgba(1, 184, 236, 1) 91%, rgba(0, 212, 255, 1) 100%);
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#form{
    width: 500px;
    max-width: 500px;
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

}
h1{
text-align: center;
color: aqua;
}

#form button{
background-color: aqua;
color: white;
border: 1px solid aqua;
border-radius: 5px;
padding: 20px;
margin:  20px 0px;
cursor: pointer;
font-size: 25px;
width:100%; 
}

.input-group{
    display:flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.input-group{
border-radius: 5px;
font-size: 20px;
margin-top: 20px;
padding: 15px;
border:2px solid rgb(34, 193, 195);
margin-bottom: 20px;
}
.input-group input{
    outline: 0;
    padding-bottom: 5px;
    font-family: 'Poppins', sans-serif;
        font-size: large;
   
}
.input-group input:focus {
   border: 3px solid rgb(34, 193, 195); /* Change border color on focus */
}

.input-group .error {
color: rgb(242, 18, 18);
font-size: 18px;
margin-top: 5px;
}

.input-group.success input{
    border:1px solid #0cc477;
}

.input-group.error input{
    border: 1px solid rgb(206, 67, 67);
}

#form button:hover {
    background-color:  hwb(180 0% 0%);
}